<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <a class="navbar-brand" href="#">MyApp</a> -->
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="collapse navbar-collapse" id="navbarNav">
      <div class="d-flex justify-content-between align-item-center w-100">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="" routerLinkActive="active">Todo</a>
              </li>
             
          </ul>
         
          <button class="btn  mx-3" *ngIf="!loginDisplay" (click)="loginRedirect()">Login</button>
          
          
          <button class="btn  mx-3" (click)="logout()">Logout m</button>
          <button class="btn  mx-3" *ngIf="loginDisplay" (click)="logout()">Logout</button>

          
      </div>
  </div>
</nav>